body{
  text-align: center;
  font-family: 'Merriweather', serif;
  line-height: 1.5;
  background: #F9F4DC;
  min-height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* overflow-x: hidden; */
}

h1{
  font-family: 'Sacramento', cursive;
  margin: 0 auto 0 auto;
  font-size: 6rem;
  color: #09D9C0;
}

h2{
  font-family: 'Monteserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

 h3{
   color: #11999E;
 }

 p{
   font-size: 0.75rem;
   text-align: left;
 }

hr{
 border-style: dotted none none; /*or border-style: none, border-top-style: dotted */
 border-color: #8785a2;
 border-width: 5px; /* this is the width of the border */
 height: 10px;
 width: 5%;
}

span{
  text-decoration: underline;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

ul {
}

li {
}

li a {

}

li a:hover {
  color: #66BFBF;
}
