.container{
  padding: 25px;
}

.flex-container{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

/* NAV BAR STUFF */
.nav-bar{
    position: relative;
    width: 100%;
    background: transparent;
    z-index: 1000;
}

.menu{
  display: none;
}

.nav-list{
    margin: 15px 50px;
    font-size: 1.1rem;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

.nav-link{
  float: right;
}

.nav-link a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.scrolled {
  position: fixed;
  background-color: var(--silver) !important;
  transition: background-color 50ms linear;
  opacity: 80%;
}

.icon{
    width: 50px;
    height: 100%;
}

.home-icon{
    float: left;
    /* padding-top: 15px; */
}

.home-icon a{
  padding: 0;
}

@media screen and (max-width: 600px) {
  .nav-link {display: none;}
  .menu {
    float: right;
    display: block;
  }
  .nav-link.home-icon{
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  .nav-list.responsive {position: relative;}
  .nav-list.responsive .menu {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-list.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}

/* LANDING PAGE STUFF */
.frame{
  max-width: 100%;
  border: 1px solid #8894AA;
  border-radius: var(--rounded);
  padding: 20px;
}

.left-landing{
  flex: 45%;
  height: auto;
  justify-content: flex-start;
}

.right-landing{
  flex: 55%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.separator{
  width: 100%;
  height: 1px;
  background: black;
}

.crop{
  width: 40%;
  border-radius: 10%;
}

.crop2{
  width: 100%;
}

.my-links{
  display: flex;
  gap: 20px;
  justify-content: left;
}

.circle {
  float: left;
  height: 80px;
  width: 80px;
  background-color: #ECE9E9;
  border-radius: 30%;
}

.fa-brands, .fab, .fa-solid{
  color: black;
  font-size: 2.5em;
  position: relative;
  top: 25%;
}

.fa-bars{
  padding-top: 15px;
  font-size: 1.9em;
}

.shadow{
  box-shadow: -15px 7px var(--dark-lavendar);
}

/* LANDING CONTACTS */
.contacts-list{
  display: grid;
  gap: 20px;
}
.contact-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}
.icon-box {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    z-index: 1;
}

/* COOL LIST */
