.top-container{
  position: relative;
  margin-bottom: 25px;
  /* color: #66BFBF; */
  /* pushes everything down a little bit */
}

#cat{
  position: absolute;
  width: 20%;
  right: 0px;
  /* remember, parent is the top-container!!! */
}


.bio{
  width: 50%;
  margin: auto;
  margin-bottom: 100px;
  font-size: 1rem;
}

.flute-image{
  width: 15%;
  /* width is scaled down to 25% of PARENT */

  float: left;
  /* this makes the text wrap around the left of image!! */

  margin-right: 20px;
  /* helps separate the image and the floating text */
}

.personal-images{
  width: 25%;
}

.swimming{
  width: 30%;
  float: right;
  margin-left: 20px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  /* makes the skills section 1)more squished, from the width and
  2)centered in the middle, and 100px from top and bottom */

  text-align: left;
  /* text left align overrides body's center align */

  line-height: 2;
  /* remember!! THIS IS A SCALE, SO it does NOT have UNITS */
}

.bottom-container{
  background-color: #66BFBF;
  position: relative;
  margin-top: 50px;
  padding-top: 50px;
  #cat {
    display: none;
  }
}
