.section{
}

.fa-brands, .fab, .fa-solid{
  color: black;
  font-size: 3em;
  position: relative;
  top: 25%;
}

.top-container{
  position: relative;
  height: 100%;
  /* pushes everything down a little bit */
}

/* NAV BAR STUFF */
.nav-bar{
    position: relative;
    width: 100%;
    background: transparent;
    z-index: 1000;
}

.nav-list{
    margin: 7px 50px;
    font-size: 1.1rem;
    list-style-type: none;
    overflow: hidden;
}

.nav-link{
  float: right;
}

.nav-link a{
  display: block;
  color: #424c55;;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.scrolled {
  position: fixed;
  background-color: #95D9C3 !important;
  transition: background-color 50ms linear;
  opacity: 80%;
}

.icon{
    width: 60px;
    height: 100%;
}

.home-icon{
    float: left;
}

.home-icon a{
  padding: 0;
}

/* LANDING PAGE STUFF */
.landing-grid {
  display: grid;
  position: relative;
  float: left;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .profile-img{width: 70% !important;}
  .circle{
    height: 90px !important;
    margin-right: 10px !important;
    width: 90px !important;
  }
}

@media screen and (min-width: 800px) {
  .landing-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px){
    .right-properties{justify-self: center; }
    .circle{
      height: 120px !important;
      margin-right: 20px !important;
      width: 120px !important;
    }
}

@media screen and (max-width: 600px){
  .circle{
    border-radius: 15px !important;
    height: 80px !important;
    margin-bottom: 10px;
    width: 70% !important;
    float: none !important;
  }
  .left-properties{
    width: 100%;
    justify-self: center !important;
    margin-left: 0 !important;
  }
  .landing-hi{
    font-size: 4rem !important;
    text-align: center !important;
  }
  .nav-list{
    margin: 7px !important;
    padding: 0;
  }
  .rando-bio{
    display: none;
  }
}

.landing-left{
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 30px;
  justify-content: center;
  margin-inline: 10px;
}

.landing-right{
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
}

.left-properties{
  justify-self:left;
  margin-left: 50px;
}

.landing-hi{
  text-align: left;
  grid-row: 1;
  line-height: 1;
  padding-top: 20px;
}

.profile-img{
  grid-row: 2;
  width: 40%;
  max-height: 100%;
}

.round{
  border-radius: 15px;
}

.my-links{
  max-width: 100%
}

.circle {
  float: left;
  height: 100px;
  margin-right: 20px;
  width: 100px;
  background-color: #A5F8D3;
  border-radius: 50%;
  display: inline-block;
}

#cat{
  position: absolute;
  width: 20%;
  right: 0px;
  /* remember, parent is the top-container!!! */
}

.right-properties{
  background: #A2AD91;
  width: 90%;
  border-radius: 15px;
}

.bio{
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 15px;
  background-color: white;
}

.bio p{
  padding: 20px;
}

.rando-bio img{
  width: 30%;
  float: right;
  margin: 20px;
}

.status{
  text-align: left;
  color: white;
}

.status-title{
  font-size: 2rem;
  text-shadow: -.030em .030em #FFF6E6,   -.08em .08em #E7DCD7;
  margin: 10px 0 10px 20px;
}

.status-list{
  margin-bottom: 20px;
  list-style-type: circle;
}

.grow{
transition: 1s ease;
}

.grow :hover{
  transform: scale(1.01);
  transition: 1s ease;
}

.container{
  padding: 2rem;
  margin-left: 50px;
}

.flute-image{
  width: 15%;
  /* width is scaled down to 25% of PARENT */

  float: left;
  /* this makes the text wrap around the left of image!! */

  margin-right: 20px;
  /* helps separate the image and the floating text */
}

.personal-images{
  width: 25%;
}

.swimming{
  width: 30%;
  float: right;
  margin-left: 20px;
}

.skill-row{
  width: 50%;
  margin: 0;
  /* margin: 100px auto 100px auto; makes the skills section 1)more squished, from the width and
  2)centered in the middle, and 100px from top and bottom */

  text-align: left;
  /* text left align overrides body's center align */

  line-height: 2;
  /* remember!! THIS IS A SCALE, SO it does NOT have UNITS */
}

.footer{
  background-color: #95D9C3;
  position: relative;
  margin-top: 50px;
  padding-top: 50px;
  text-align: center;
}

.footer p{
  text-align: center;
}
