<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/styles2.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico?">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Nunito:wght@200&display=swap" rel="stylesheet">
  </head>

  <body>
  <!-- NAV BAR -->
  <div class = "nav-bar">
    <ul class = "nav-list" id = "topNav">
      <li class = "home-icon"><a href = "/"><img src = "/images/logo.png" class = "icon"></a></li>
      <li class = "nav-link"><a href="/#blog">blog ༺</a></li>
      <li class = "nav-link"><a href="/#life">life ఌ</a></li>
      <li class = "nav-link"><a href="/#projects">projects 𖧧</a></li>
      <li class = "nav-link"><a href="/#xp">experience 𖤐</a></li>
      <li class="menu" onclick="myFunction()">
          <i class="fa fa-bars"></i>
      </li>
    </ul>
  </div>
