<%- include('partials/header') -%>
<section class = "container">
    <h1>Blog v.1</h1>
    <% postsArr.forEach(function(element){ %>
        <h2><%=element.title%></h2>
        <p><%=element.input%></p>
      <%}) %>
</section>
<%- include('partials/footer') -%>
