<%- include('partials/courseheader') -%>
<section id = "course">
    <h1>CS31 Review</h1>
    <div class="courseframe">
      <p>review: </p>
      <p>thoughts: </p>
    </div>
</section>
<%- include('partials/footer') -%>
