.container{
  padding: 25px;
}

.landing-container{
  padding: 0 25px 25px 25px;
}

.flex-container{
  display: -webkit-flex;
  flex-direction: row;
  gap: 15px;
}

@media (max-width: 800px) {
  .flex-container {
    -webkit-flex-direction: column;
    gap: 15px;
  }
  .life{
    flex-direction: row;
  }
}

/* NAV BAR STUFF */
.nav-bar{
    position: relative;
    width: 100%;
    background: transparent;
    z-index: 1000;
}

.menu{
  display: none;
}

.nav-list{
    margin: 15px 50px;
    font-size: 1.1rem;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

.nav-link{
  float: right;
}

.nav-link a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.scrolled {
  position: fixed;
  background-color: var(--silver) !important;
  transition: background-color 50ms linear;
  opacity: 80%;
}

.icon{
    width: 50px;
    height: 100%;
}

.home-icon{
    float: left;
    /* padding-top: 15px; */
}

.home-icon a{
  padding: 0;
}

@media screen and (max-width: 600px) {
  .nav-link {display: none;}
  .menu {
    float: right;
    display: block;
  }
  .nav-link.home-icon{
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  .nav-list.responsive {position: relative;}
  .nav-list.responsive .menu {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-list.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}

/* LANDING PAGE STUFF */
.frame{
  max-width: 100%;
  border: 1px solid #8894AA;
  border-radius: var(--rounded);
  padding: 20px;
}

.left-landing{
  -webkit-flex: 43%;
  height: auto;
  justify-content: -webkit-flex-start;
}

.right-landing{
  -webkit-flex: 57%;
  height: auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  gap: 15px;
}

.separator{
  width: 100%;
  height: 1px;
  background: black;
}

.crop{
  width: 40%;
  border-radius: 10%;
  margin: 20px;
}

.crop2{
  width: 100%;
}

.crop3{
  width: 100%;
  height: 300px;
  border-radius: 7%;
  filter: drop-shadow(3px 3px 5px pink) grayscale(50%);
}

.foxie{
  width: 150px;
  height: 150px;
  float:right;
}

.my-links{
  display: -webkit-flex;
  gap: 20px;
  justify-content: left;
}

.circle {
  float: left;
  height: 80px;
  width: 80px;
  background-color: #ECE9E9;
  border-radius: 30%;
}

.fa-brands, .fab, .fa-solid{
  color: black;
  font-size: 2.5em;
  position: relative;
  top: 25%;
}

.fa-bars{
  padding-top: 15px;
  font-size: 1.9em;
}

.shadow{
  box-shadow: -12px 7px var(--orange-highlight);;
}

/* LANDING CONTACTS */
.contacts-list{
  display: grid;
  gap: 20px;
}
.contact-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}
.icon-box {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    z-index: 1;
}

/* COOL LIST */
.flower-item {
  position: relative;
  list-style: none;
}

.flower-item:not(:last-child) {
  margin-bottom: 17px;
}

.flower-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -27px;
  width: 0.5px;
  height: calc(100% + 19px);
  background: black;
}

.flower-item::after {
  content: '𐐪𐑂';
  font-size: 1.2em;
  color: var(--orange-highlight);
  position: absolute;
  top: 0px;
  left: -38px;
  height: 7px;
  width: 6px;
}

/* EXPERIENCE SECTION */
.sidebar{
  flex-direction: column;
}

.skills{
  text-align: left;
}

.skill-row{
  margin-top: 5px;
  margin-bottom: 5px;
}

.xp-title{
  color: var(--orange-highlight);
  margin: 0;
  display: inline;
}

.logo{
  display: inline;
  width: 40px;
  border-radius: 50%;
}

.life{
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.life-frame p{
  margin-bottom: 30px;
}

.life-img{
  position: relative;
  max-width: 80%;
}

.life-img .overlay{
  position: absolute;
  border-radius: 7%;
  padding: 17px;
  text-align: justify;
  line-height: 1.3;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  display: none;
  color: #FFF;
}

.life-heading{
  color: white;
  font-weight: 500;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-show {
  display: block !important;
  background: rgba(0, 0, 0, .6);
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.hidden{
  display: none;
}

/* FOOTER */
.footer{
  background-color: var(--silver);
  position: relative;
  margin-top: 50px;
  padding: 30px;
  text-align: center;
}

.footer p{
  text-align: center;
}
