/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* cool gradients */
/* background: radial-gradient(circle, rgba(255,221,236,1) 0%, rgba(221,236,255,1) 100%); */

.container{
  padding: 25px;
}

.landing-container{
  padding: 0 25px 25px 25px;
}

.flex-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  .container{
    padding: 10px !important;
  }
  .landing-container{
    padding: 0 10px 10px 10px !important;
  }
  .icon-box{
    margin-right: 20px !important;
  }
  .crop{
    width: 70% !important;
  }
  .nav-link {display: none;}
  .menu {
    float: right !important;
    display: block !important;
  }
  .nav-link.home-icon{
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
  }
  .nav-list.responsive {position: relative;}
  .nav-list.responsive .menu {
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
  }
  .nav-list.responsive li {
    float: none !important;
    display: block !important;
    text-align: left !important;
  }
  .circle{
    width: 50px !important;
    height: 50px !important;
  }
  .fa-brands, .fab, .fa-solid{
    font-size: 2em !important;
  }
  .left-landing ul{
    padding-inline-start: 20px;
  }
  .skills{
    margin: 0 !important;
  }
  #projects button{
    font-size: 1rem !important;
  }
  .button1{
    left: 5px !important;
  }
  .button2{
    right: 5px !important;
  }
}

@media (max-width: 750px) {
  .card{
    margin: 15px 0 0 0 !important;
    width: auto !important;
    max-width: 100% !important;
  }
}

@media (max-width: 900px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .footer img{
    display: none;
  }
  .card{
    height: fit-content !important;
  }
}

/* NAV BAR STUFF */
.nav-bar{
    position: relative;
    width: 100%;
    background: transparent;
    z-index: 1000;
}

.menu{
  display: none;
}

.nav-list{
  margin: 12px 35px;
  font-size: 1.1rem;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}

.nav-link{
  float: right;
}

.nav-link a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.scrolled {
  position: fixed;
  background-color: var(--silver) !important;
  -webkit-transition: background-color 50ms linear;
  -o-transition: background-color 50ms linear;
  transition: background-color 50ms linear;
  opacity: 80%;
}

.icon{
    width: 45px;
    height: 100%;
}

.home-icon{
    float: left;
}

.home-icon img{
  margin-top: 5px;
  border-radius: 10%;
}

.home-icon a{
  padding: 0;
}

/* LANDING PAGE STUFF */
.frame{
  max-width: 100%;
  border: 1.5px solid var(--frame);
  border-radius: var(--rounded);
  padding: 20px;
  margin: 0 15px 15px 0;
  background: white;
}

.left-landing{
  -webkit-box-flex: 43%;
      -ms-flex: 43%;
          flex: 43%;
  height: auto;
  justify-content: -webkit-flex-start;
}

.right-landing{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-flex: 57%;

      -ms-flex: 57%;

          flex: 57%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* gap: 15px; */
}

.hollow-text{
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.right-landing span{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight:bolder;
  margin-left:5px;
  /* color: blueviolet; */

}

.separator{
  width: 100%;
  height: 1px;
  background: black;
}

.crop{
  width: 40%;
  border-radius: 10%;
  margin: 20px;
  border: 1px solid;
  border-color: #8d99ae;
  -webkit-box-shadow: -20px 12px pink;
          box-shadow: -20px 12px pink;
}

.crop2{
  width: 100%;
}

.my-links{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  /* gap: 20px; */
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.circle {
  float: left;
  height: 80px;
  width: 80px;
  background-color: var(--silver);
  border-radius: 30%;
  margin: 0 10px 0 10px;
}

.circle:hover{
  background: var(--pinkgradient);
}

.fa-brands, .fab, .fa-solid{
  color: black;
  font-size: 2.5em;
  position: relative;
  top: 25%;
}

.fa-bars{
  padding-top: 15px;
  font-size: 1.9em;
}

.animate-text{
  background-image: linear-gradient(
    -225deg,
    #FF85B4 0%,
    #AD83C3 29%,
    #FF478B 67%,
    #72BCFD 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  z-index: 100;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* LANDING CONTACTS */
.contacts-list{
  display: -ms-grid;
  display: grid;
  gap: 17px;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* gap: 40px; */
}

.contact-title{
  font-weight: 500;
}

.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 30px;
  height: 30px;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  z-index: 1;
  margin-right: 40px;
}

/* COOL LIST */
.flower-item {
  position: relative;
  list-style: none;
}

.flower-item:not(:last-child) {
  margin-bottom: 17px;
}

.flower-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -27px;
  width: 0.5px;
  height: calc(100% + 19px);
  background: black;
}

.flower-item::after {
  content: '𐐪𐑂';
  font-size: 1.2em;
  color: var(--dark-lavendar);
  position: absolute;
  top: 0px;
  left: -38px;
  height: 7px;
  width: 6px;
}

/* EXPERIENCE & SKILLS SECTION */
#xp{
  -webkit-box-flex: 65%;
      -ms-flex: 65%;
          flex: 65%;
}

.sidebar{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 35%;
      -ms-flex: 35%;
          flex: 35%;
}

.sidebar ul{
  margin: 0;
  -webkit-padding-start: 35px;
          padding-inline-start: 35px;
}

.sidebar li{
  margin: 10px 7px;
}

.sidebar h3{
  font-size: 1.25rem;
  margin-top: 3px;
  margin-bottom: 10px;
}

.frame2{
  /* min-width: 100px; */
  max-width: 100%;
  border: 1.5px solid var(--frame);
  border-radius: 0 15px 0 15px;
  padding: 15px;
  margin: 0 15px 15px 0;
  transition: .5s ease-out;

  background: linear-gradient(to left, transparent 50%,
  rgba(255,221,236,1) 0%, rgba(221,236,255,1) 100%) right;
  background-size: 200%;

  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

.frame2:hover{
  background-position: left;
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

#media-reccs {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills{
  text-align: left;
  margin: 20px 0 0 20px;
}

.skill-row{
  margin-top: 5px;
  margin-bottom: 5px;
}

#xp h3{
  margin: 15px 0 0 0;
  font-size: 1.3rem;
}

#xp h2{
  margin: 0 0 15px 0;
}

#xp a{
  -webkit-text-decoration: underline var(--dark-lavendar) 2px;
          text-decoration: underline var(--dark-lavendar) 2px;
}

#xp ul{
  margin: 5px 0 5px 0px;
}

#xp .flower-item:not(:last-child) {
    margin-bottom: 8px;
}

.logo{
  display: inline;
  width: 40px;
  border-radius: 50%;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.courses{
  padding: 0 20px 0 20px;
}

.courses a{
  text-decoration: none;
  text-align: center;
  color: #2e3440;
  padding: 5px 10px;
}

.courses div{
  background: var(--pinkgradient);
  margin: 7px 7px 7px 0;
  color: #2e3440;
  padding: 3px;
  border-radius: 5px;
  border-style: solid;
  border-width: .5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.other-courses a{
  text-decoration: underline 1.5px;
  cursor: pointer;
}

.other-courses li{
  list-style: '🍙  ';
}

/* PROJECTS SECTION */
#projects .flex-container{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* gap: 20px; */
  margin-top: 15px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#projects h2{
  margin: 0 0 15px 0;
}

.project-cards{
  position: relative;
}

.card{
  display: inline-block;
  vertical-align: middle;
  height: 550px;
  width: 325px;
  max-width: 47%;
  border-radius: 5%;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.25);
          box-shadow: 0 0 15px rgba(0,0,0,0.25);
  background-color: white;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 25px;
  margin: 30px 15px 15px 15px;
}

.card:hover{
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.card img{
  border-radius: 10px;
  border-style: solid;
  border-color: gray;
  border-width: 1.3px;
  width: 100%;
  height: 270px;
  filter: grayscale(0.2);
}

.card h3{
  margin: 5px;
}

#projects button{
  position: absolute;
  top: 50%;
  background-color: inherit;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  border-radius: 8px;
  z-index: 100;
}

#projects button:hover{
  background-color: lightblue;
}

.button1{
  left: 25px;
}

.button2{
  right:25px;
}

/* LIFE SECTION */
.life{
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 25px;
  border-radius: 15px;
}

.life-img{
  position: relative;
  max-width: 80%;
}

.life-img img{
  width: 100%;
  height: 320px;
  border-radius: 7%;
  -webkit-filter: drop-shadow(3px 3px 5px gray) grayscale(50%);
          filter: drop-shadow(3px 3px 5px gray) grayscale(50%);
}

.life-img .overlay{
  position: absolute;
  border-radius: 7%;
  padding: 17px;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  display: none;
}

.life-img .overlay p{
  color: var(--rice);
  text-align: justify;
  line-height: 1.3;
  vertical-align: middle;
  font-family: 'Edu SA Beginner', cursive;
  font-size: 1.27rem;
}

.life-heading{
  color: white;
  font-weight: 500;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overlay-show {
  display: block !important;
  background: rgba(0, 0, 0, .6);
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

.hidden{
  display: none;
}

#media-reccs ul{
  margin-block-start: 7px;
}

#media-reccs li{
  margin-bottom: 5px;
}

/* FOOTER */
.footer{
  background-color: var(--silver);
  position: relative;
  margin-top: 50px;
  padding: 30px;
  text-align: center;
}

.footer p{
  text-align: center;
}

.footer img{
  position: absolute;
  bottom: 0;
  right: 70px;
  width: 240px;
}

.footer-main{
  display: inline-block;
}

.main-footer{
  z-index: 100;
}

/* GALLERY */
.gallery{
  display: inline-block;
}
.gallery img{
  width: 320px;
  border-radius: 8px;
  margin: 5px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.gallery img:hover{
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

/* COMPOSE BLOG*/
.compose{
  padding: 0 100px 0 100px;
}
.compose, h1{
  font-size: 2.5rem;
}
.blog, h1{
  font-size: 2.5rem;
}
